#toDoTable {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

#toDoTable td, #toDoTable th {
  border: 1px solid #ddd;
  padding: 8px;
}

#toDoTable tr:nth-child(even){background-color: #f2f2f2;}

#toDoTable tr:hover {background-color: #ddd;}

#toDoTable th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #04AA6D;
  color: white;
}
.table-name-area{
  width: 100vh;
}
img{
  width: 30px;
  height: 30px;
}